<%= form_for(@model.to_s.to_sym, url: { :controller => '/vertica_history/vertica_history', :action => 'view_history' }, method: 'get', html: { class: 'form-inline attributes-select-form' }) do |f| %>

  <div class="checkbox">
    <label class="btn btn-default" style="padding: 0 10px">
      <input class="select-all-btn" type="checkbox" <%  'checked' if @all_columns == @columns %> /> Select All
    </label>
  </div>

  <% @all_columns.each do |key| %>
    <div class="checkbox attribute-checkbox" id="<%= key %>">
      <label>
        <%= check_box_tag 'attribute-keys[]', key, checked = @columns.include?(key) %>
        <%= h key %>
      </label>
    </div>
  <% end %>

  <br /><br />
  <div class="pull-left btn-group">
    <%= f.submit(action_button, class: 'btn btn-primary') %>
    <%= link_to "Cancel", "/rails_admin/#{@model}/#{@id}", { class: 'btn btn-default' } %>
    <%= link_to "Write Vertica Query", "/vertica_history/vertica_history_query", { class: 'btn btn-default' } %>
  </div>
  <br /><br />
<% end %>

