<h1>Select Attributes for Vertica History for <%= @model %> <%= @id %></h1>
<div>Select Attributes you want to see in the table for the history of the records in vertica</div>

<%= form_for(@model.to_s.to_sym, url:{:controller=>'/vertica_history/vertica_history', :action=>'view_history'}, method: 'get', html: { class: 'form-horizontal' }) do |f| %>

  <% @columns.each do |key| %>
    <div id=<%= key %>>
      <li style="list-style-type: none;">
        <%= check_box_tag 'attribute-keys[]', key -%>
        <%= h key -%>
      </li>
    </div>
  <% end %>
  <li style="list-style-type: none;">
    <%= check_box_tag 'attribute-keys[]', "*" -%>
    <%= h "All Attributes" -%>
  </li>
  <%= f.submit('View History', class: 'btn btn-primary') %>
<% end %>

<div class="pull-left"><%= link_to "Cancel", "/rails_admin/#{@model}/#{@id}" %></div>
</div>