<h1>Create a query that you want to submit to vertica for this stack</h1>

<%= form_tag({ :controller => '/vertica_history/vertica_history', :action => 'query_results' }, method: 'post', html: { class: 'form-inline attributes-select-form' }) do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_area_tag(:q, nil, {rows:'10', class: 'form-control'}) %>
  <br>
  <div class="btn-group">
    <%= submit_tag("Search", {class: 'btn btn-primary'}) %>
    <%= link_to "Cancel", "/rails_admin/", { class: 'btn btn-default' } %>
  </div>
<% end %>
